// General styles - body class: "case-study-2" (optional)
.case-study-2 {
    margin: 0;

    * {
        box-sizing: border-box;
    }

    .body-container-wrapper {
        background-color: #fbfbfb;
    }

    .container {
        max-width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

// MAIN GROUP class: "case-study-container" (required)
.case-study-container .row-fluid-wrapper > .row-fluid {
    display: flex;

    @media (max-width: 767px) {
        display: block;
    }
}
// end MAIN GROUP

// TOPIC MENU (Flexible Column) class: "topic-listing" (required)
.topic-listing {
    margin: 30px 0 56px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;

    & > .hs_cos_wrapper_type_widget_container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
}

a.link-category {
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
    transition: all 0.3s linear;
}

.filter-single {
    margin-top: 20px;
    width: 150px;
    position: relative;
    border-bottom: 1px solid #b3b3b3;
    transition: 1s;
    line-height: 1.42857143;
    color: hubl("$font_color");
    font-family: hubl("$font_family");
    img {
        opacity: 0.5;
        display: block;
        margin: 0 auto;
        transition: 0.3s;
    }
    span {
        margin: 12px 0 9px;
        font-size: 16px;
        text-transform: uppercase;
        color: #b3b3b3;
        text-align: center;
        display: block;
        transition: 0.3s;
    }
    &.active {
        border-bottom: 1px solid hubl("$accent_color");
        &:before {
            font-size: 25px;
            position: absolute;
            bottom: -16px;
            left: 50%;
            transform: translateX(-50%);
            content: "•";
            color: hubl("$accent_color");
        }
        img {
            opacity: 1;
        }
        span {
            color: hubl("$font_color");
        }
    }
    &:hover img {
        opacity: 1;
    }
    &:hover span {
        color: hub("$font_color");;
    }
}
// end TOPIC MENU 

// CONTENT (Flexible Column) class: "listing-blog" (required)
.listing-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.case-studies {
    margin: 13px 9px;
    width: 360px;
    @media (max-width: 380px) {
        width: 100%;
        margin: 0;        
    }
}

figure.case-study {
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
    //height: 360px;
    width: 360px;
    transition: 0.5s all;
    @media (max-width: 380px) {
        width: 100%;            
    }
    &:hover {
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .1);
    }
    &:hover .company-logo {
        height: 215px;
    }
    &:hover .company-logo img {
        max-width: 180px;
        max-height: 60px;
    }
    .feature-image {
        background-size: cover;
        width: 100%;
        height: 215px;
        position: relative;
    }
    .company-logo {
        transition: all 0.5s;
        height: 60px;
        width: 100%;
        background-color: hubl_rgba("$accent_color", 0.65);
        position: absolute;
        bottom: 0;
        img {
            transition: all 0.5s;
            position: absolute;
            max-width: 105px;
            max-height: 40px;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .description {
        line-height: 1.42857143;
        color: hubl("$font_color");
        font-family: hubl("$font_family");
        width: 100%;
        padding: 20px;
        background-color: #fff;
        p {
            margin: 0;
            font-size: 18px;
            font-weight: 300;
        }
        a {
            -webkit-appearance: none;
            outline: none;
            text-decoration: none;
            transition: all 0.3s linear;
            color: hubl("$accent_color");

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
// end CONTENT

// PAGINATION styles (generated dynamically with JS)
.case-study-pagination {
    width: 100%;
    padding-left: 10px;
    cursor: auto;
    margin-bottom: 60px;
    ine-height: 1.42857143;
    font-family: hubl("$font_family");
    .disabled {
        display: none;
    }
    .pagination {
        padding-left: 0;
    }
    li {
        display: inline-block;
        background-color: #fff;
        border-radius: 4px;
        margin-right: 5px;
        a {
            -webkit-appearance: none;
            outline: none;
            text-decoration: none;
            transition: all 0.3s linear;
            border-radius: 4px;
            overflow: hidden;
            color: hubl('$font_color');
            display: block;
            line-height: 22px;
            border: solid 1px #ebebeb;
            height: 27px;
            width: 24px;
            text-align: center;
            font-size: 16px;
            overflow: hidden;
            &:hover {
                background-color: hubl('$accent_color');
                border: solid 1px hubl('$accent_color');
                color: #fff;
            }
        }
        &.active {
            a {
                background-color: hubl('$accent_color');
                border: solid 1px hubl('$accent_color');
                color: #fff;
            }
        }
    }
}
// end PAGINATION